
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

:root {
    --body: #fcfcfc;
    --maincolor: #E4DAC2;
    --btncolor: #FFE9B8;
    --text-color: #3c3c3c;
    --h-text: 'Tenor Sans', sans-serif;
    --p-text: 'Avenir Light', sans-serif;
}


body {
    background-color: #fcfcfc;
    margin: 0;

}

/* BY CL logo - img*/

.logo {
    width: 50px;
    height: 50px;
}

a {
    color: var(--text-color); 
}

/* navigation og burgermenu*/

.header {
    background-color: var(--maincolor);
    z-index: 3;
    width: 100%;
    height: 60px;
    position: relative
}

.header ul {
    list-style: none;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2)
}

.header ul a {
    display: block;
    padding: 30px;
    text-decoration: none;
    font-family: var(--h-text);
    font-style: normal;
    font-weight: 100;
    text-align: center;
    font-size: 20px;
    background: var(--body);
}

.header .logo {
    float: left;
    display: block;
    padding-left: 10px;
    margin: 5px;

}

.header .menu-content {
    clear: both;
    max-height:0;
    transition:max-height .2s ease-out;
}

/* Burgermenu ikon*/

.header .menu-icon {
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

/*Child til Label - midterste bar til burgermenu*/

.header .menu-icon .nav-icon {
    background:#3c3c3c;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

/* top og bund burgermenu -pseudoelementer*/

.header .menu-icon .nav-icon:before {
    background:#3c3c3c;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition:all .2s ease-out;
    top: 5px
}

.header .menu-icon .nav-icon:after {
    background:#3c3c3c;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition:all .2s ease-out;
    top: -5px
}

.header .menu-btn {
    display: none;
}


/* X-transition - luk-effekt på burgermenu */

.header .menu-btn:checked ~ .menu-content {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;

}
.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}


/* SEKTION 1 - Intro*/

h1 {
    font-family: var(--h-text);
    color: var(--text-color);
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    margin-top: 50px;
}

.intro {
    font-family: var(--h-text);
    color: var(--text-color);
    font-size: 20px;
    line-height: 1.5em;
    margin-top: 40px;
    text-align: center;
    margin-left: 12px;
    margin-right: 12px;
}

.front-pic {
    width: 350px;
    height: 500px;
    margin-left: 30px;
    margin-top: -40px;
   
}


/*SEKTION 2 - Projekter*/
 h2 {
    font-family: var(--h-text);
    color: var(--text-color);
    font-size: 40px;
    text-align: center;
    font-weight: normal;
 }

 hr.solid{
     border: none;
     height: 1px;
     background: #3c3c3c;
     margin: 40px;
     margin-top: 12px;
     margin-bottom: 0;
 }

 p {
     font-family: var(--p-text);
     font-size: 16px;
     margin-top: 7px;
     margin: 10px;
     line-height: 1.5em;
     letter-spacing: 1.5px;
 }

 h3 {
     font-size: 20px;
     font-family: var(--h-text);
     padding:0;
     margin-top:20px;
     margin-left: 10px;
 }

 img {
     width: 350px;
     height: 200px;
     opacity: 100%;
 }


 .card-wrapper {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .cards {
     width: 350px;
     background: var(--body);
     margin-bottom: 20px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 }

 .arrow-btn img{
     width: 30px;
     height: 30px;
     display: block;
     float: right;
     margin-top: -10slidepx;
     margin-right: 20px;
     margin-bottom: 20px;
     cursor: pointer;
 }

/*slideshow - forside*/
.slider {
    height: 200px;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-top: 50px;
}

.slide {
    width: 7px;
    flex-shrink: 0;
    height: 100%;
}

.btn {
    display: block;
    background: var(--btncolor);
    color: var(--text-color);
    text-decoration: none;
    padding: 20px 30px;
    margin: 40px 100px 30px 100px ;
    text-align: center;
    border-radius: 10px;
}


/* SEKTION 3 - Kompetencer/Interesser*/

.skills{
    background: var(--maincolor);
    height: 380px;
    margin: 10px;
    margin-left: 12px;
}

.skills .h1 {
    margin-bottom: -20px;
    margin-top: 40px;
    padding: 20px;
}

hr.solid {
    border: none;
    height: 1px;
    background: #3c3c3c;
    margin: 40px;
    margin-top: 12px;
    margin-bottom: 0;
}

.skills ul {
    padding-top: 20px;

}

.skills li {
    color: var(--text-color);
    font-size: 20px;
    font-family: var(--p-text);
    list-style: none;
    line-height: 3em;
    letter-spacing: 1.5px;
}

.skills li:before{
    content: "\2713";
    margin-right: 10px;
}

.interests {
    background: var(--maincolor);
    height: 300px;
    margin: 10px;
    margin-left: 12px;
    margin-top:-50px;
}

.interests li {
    color: var(--text-color);
    font-size: 20px;
    font-family: var(--p-text);
    line-height: 2em;
    letter-spacing: 1.5px;

}


 /* Om mig/Kontaktside */

.image-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.myimg {
    width: 290px;
    height: 200px;
}

.p1 {
    font-family: var(--p-text);
     font-size: 16px;
     line-height: 1.5em;
     letter-spacing: 1.5px;
     margin: 25px;
}

h5 {
    font-size: 20px;
    font-family: var(--h-text);
    padding:0;
    margin-top:40px;
    margin-left: 25px;
}

.li2 {
    font-family: var(--p-text);
    font-weight: 200;
    font-size: 16px;
    margin:20px;
    margin-top: -15px;
}

 .contacts {
     width: 40px;
     height: 30px;
     margin-left: 20px;
     display: flex;
     flex-direction: column;
     margin-bottom: 50px;
     margin-top: 30px;
 }

 .info {
     display: flex;
     flex-direction: column;
     margin-left: 70px;
     margin-top: -75px;
     font-size: 14px;
     margin-bottom: 50px;
 }

 /* PROJEKTER- extended*/

 h4 {
     font-family: var(--h-text);
     font-size: 20px;
     text-align: center;
     margin-top: 10px;
     letter-spacing: 1.5px;
 }

 .arrow-btn-back img {
    width: 30px;
    height: 30px;
    display: block;
    float: left;
    margin-top: -10px;
    margin-left: 20px;
    margin-bottom: 40px;
    cursor: pointer;
 }

 .p-container {
     margin-bottom: 90px;
 }


 /*Mine billeder */

 .image-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .pics {
     width: 330px;
     margin-bottom: 10px;
 }


 /*Footer*/

 .footer-container {
     background: var(--maincolor);
     height: 80px;
     display: flex;
 }

 .footer-item {
     display: flex;
     flex-direction: row;
     align-items: center;
     margin-left: 20px;
 }

 .footer-text {
     font-size: 14px;
     align-content: center;
 }

 .socials {
     width: 30px;
     height: 30px;
     display: block;
     padding: 5px;
     justify-content: flex-end;
 }





@media screen and (min-width: 780px) {

    .header {
        height: 80px;
        width: 100%;
    }

    .logo {
        width: 60px;
        height: 60px;
        padding-top: 5px;
    }

    .header li {
        float: left;
    }

    .header li a {
        padding: 12px 30px;
        font-size: 20px;
    }

    .header .menu-content {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }

    .card-wrapper {
        display: flex;
        flex-direction: row;
    }
   


}


